<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnWarning="true"
         failOnRisky="true"
         executionOrder="random"
         testdox="false">

    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./tests</directory>
            <file>./tests/test-title-tools.php</file>
            <file>./tests/test-directory-query-artists.php</file>
            <file>./tests/test-directory-query-orgs.php</file>
            <file>./tests/test-rewrites.php</file>
            <file>./tests/test-cache-invalidation.php</file>
            <file>./tests/test-sitemap.php</file>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Core</directory>
            <file>./tests/test-title-tools.php</file>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/Admin</directory>
            <directory suffix="Test.php">./tests/Blocks</directory>
            <directory suffix="Test.php">./tests/Community</directory>
            <directory suffix="Test.php">./tests/Frontend</directory>
            <directory suffix="Test.php">./tests/Integration</directory>
            <directory suffix="Test.php">./tests/Rest</directory>
            <file>./tests/MembershipManagerTest.php</file>
            <file>./tests/WooCommerceIntegrationTest.php</file>
            <file>./tests/test-directory-query-artists.php</file>
            <file>./tests/test-directory-query-orgs.php</file>
            <file>./tests/test-rewrites.php</file>
            <file>./tests/test-cache-invalidation.php</file>
            <file>./tests/test-sitemap.php</file>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text showUncoveredFiles="true" showOnlySummary="false"/>
        </report>
    </coverage>

    <php>
        <!-- Path to Composer-installed WP PHPUnit test suite -->
        <env name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit"/>

        <!-- Database credentials for test environment -->
        <env name="DB_NAME" value="wp_phpunit_tests"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="DB_HOST" value="localhost"/>

        <!-- Optional: add secrets required by tests, e.g. -->
        <!-- <env name="API_TOKEN" value=""/> -->
    </php>
</phpunit>
